AICP INTERNSHIP TASK02

1. Writer pandas series code to get following output without using dictionary: a 1 x 4 c 9 2 6 e 7 dtype: int64

In [12]:
import pandas as pd

data = [1, 4, 9, 6, 7]
index = ['a', 'x', 'c', '2', 'e']
series = pd.Series(data, index=index)
print(series)

a    1
x    4
c    9
2    6
e    7
dtype: int64

2. Writer pandas series code to get following output using dictionary
Bilal  42
Ayesha 38
Hadia  39
dtype: int64

In [13]:
import pandas as pd

data = {'Bilal': 42, 'Ayesha': 38, 'Hadia': 39}
series = pd.Series(data)
print(series)

Bilal     42
Ayesha    38
Hadia     39
dtype: int64

3. Write pandas dataframe code to get following output using python dictionary

In [14]:
import pandas as pd

data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame(data)
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

4. In extension to above question, you are required to replace index by ['a','b','c','d','e','f']

In [15]:
import pandas as pd

data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame(data)
df.index = ['a', 'b', 'c', 'd', 'e', 'f']  # Setting custom index
print(df)

        day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

5. In extension to above question calculate mean, miximum and minimum for label “temperature”

In [16]:
import pandas as pd

data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame(data)
df.index = ['a', 'b', 'c', 'd', 'e', 'f']  # Setting custom index

temperature_mean = df['temperature'].mean()
temperature_max = df['temperature'].max()
temperature_min = df['temperature'].min()

print("Mean temperature:", temperature_mean)
print("Maximum temperature:", temperature_max)
print("Minimum temperature:", temperature_min)

Mean temperature: 30.333333333333332
Maximum temperature: 35
Minimum temperature: 24

6. Import CSV ‘people.csv’ in the given folder. Keep in mind the following instructions:
You’re required to import only specific columns ["First Name", "Sex", "Email", “Phone”, “Job Title”]
Set the following columns ["Sex", "Job Title"] as index columns
Skip following rows [1,5]
Export the CSV as “NewPeople.csv”

In [10]:
import pandas as pd
#imported the pandas library

In [11]:
data = pd.read_csv('people.csv', usecols=["First Name", "Sex", "Email", "Phone", "Job Title"], skiprows=[1, 5])

# Set 'Sex' and 'Job Title' columns as index columns
data.set_index(["Sex", "Job Title"], inplace=True)

# Export the DataFrame to a new CSV file
data.to_csv('NewPeople.csv')

7. Import excel sheet ‘SampleWork.xlsx’ in the given folder. Keep in mind the following instructions:
Import sheet 1
Import only first and last column from sheet 1
Skip row 2 while importing the sheet
Set row 2 as header
export as new sheet.

In [18]:
import pandas as pd

# Importing Excel sheet and specifying columns and header
df = pd.read_excel('SampleWork.xlsx', sheet_name=0, usecols=[0, -1], header=1, skiprows=[1])

# Exporting DataFrame to a new Excel sheet
df.to_excel('NewSampleWork.xlsx', index=False)

8. Create the following dataframe as AICP_DF then implement different operations as described below:
select 'Name', 'Qualification' coloumns and save to df1
add a new column to AICP_DF “Height” with the following values: [5.1, 6.2, 5.1, 5.2,5.1]
set column “Name” as the index column.
retrieve row with index “Hifza”
retrieve row with index 3
drop row with index “Bilal"

In [19]:
import pandas as pd

# Creating the DataFrame AICP_DF
data = {
    'Name': ['Sonia', 'Bilal', 'Hifza', 'Kabir', 'Jazim'],
    'Age': [27, 24, 22, 32, 23],
    'Address': ['Lahore', 'Karachi', 'Sialkot', 'Peshawar', 'Ihr'],
    'Qualification': ['Msc', 'MA', 'MCA', 'Phd', 'Bsc']
}

AICP_DF = pd.DataFrame(data)

# Selecting 'Name' and 'Qualification' columns and saving to df1
df1 = AICP_DF[['Name', 'Qualification']]

# Adding a new column "Height" to AICP_DF
AICP_DF['Height'] = [5.1, 6.2, 5.1, 5.2, 5.1]

# Setting column "Name" as the index column
AICP_DF.set_index('Name', inplace=True)

# Retrieving row with index "Hifza"
row_hifza = AICP_DF.loc['Hifza']

# Retrieving row with index 3
row_index_3 = AICP_DF.iloc[2]

# Dropping row with index "Bilal"
AICP_DF.drop(index='Bilal', inplace=True)

print("AICP_DF:")
print(AICP_DF)
print("\nSelected 'Name' and 'Qualification' columns saved to df1:")
print(df1)
print("\nRow with index 'Hifza':")
print(row_hifza)
print("\nRow with index 3:")
print(row_index_3)

AICP_DF:
       Age   Address Qualification  Height
Name
Sonia   27    Lahore           Msc     5.1
Hifza   22   Sialkot           MCA     5.1
Kabir   32  Peshawar           Phd     5.2
Jazim   23       Ihr           Bsc     5.1

Selected 'Name' and 'Qualification' columns saved to df1:
    Name Qualification
0  Sonia           Msc
1  Bilal            MA
2  Hifza           MCA
3  Kabir           Phd
4  Jazim           Bsc

Row with index 'Hifza':
Age                   22
Address          Sialkot
Qualification        MCA
Height               5.1
Name: Hifza, dtype: object

Row with index 3:
Age                   22
Address          Sialkot
Qualification        MCA
Height               5.1
Name: Hifza, dtype: object